<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Tarefas</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vue-toastification@2.0.0/dist/index.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue-toastification@2.0.0/dist/index.umd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jwt-decode@3.1.2/build/jwt-decode.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- Este script foi movido para carregar os componentes do Vue.js -->
    <script defer src="./src/components/TaskList.js"></script>
    <script defer src="app.js"></script>
</head>

<body>
    <div id="app" class="container">
        <!-- Componente atual que está sendo exibido -->
        <transition name="fade" mode="out-in">
            <component :is="currentComponent" @switch-view="switchView"></component>
        </transition>

        <!-- Botão de Voltar, aparece em todas as telas quando necessário -->
        <button class="back-button" v-if="showBackButton" @click="goBack">
            <img src="assets/anterior.png" alt="Voltar">
        </button>
        <div class="task-list">
            <div v-for="task in tasks" :key="task.id" class="task-item">
              <button class="edit-task" @click="editTask(task)">
                <i class="fas fa-edit"></i>
              </button>
              <span>{{ task.name }}</span>
            </div>
          </div>
    </div>
</body>

</html>
